# NPM
node_modules/
*.tgz
npm-debug.log
.tmp/
sh.exe.stackdump
debug.log
.npm-cache/

# Build
dist/

# Testing
coverage/
playwright-report/
test-results/

# Miscellaneous
.DS_Store
*concatenated.txt
.react-router/
.claude/

# env
.env

temp/
temp.txt
temp.txt*
