@use "styles/variables";

html,
body,
#root {
    height: 100%;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body.using-mouse {
    :focus,
    [class$="-is-focused"] {
        outline: none;
        box-shadow: initial;
    }
}
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 1.6rem;
}
h2 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
h3 {
    font-size: 1.2rem;
}

a {
    transition: color 0.2s ease;
    color: var(--link-color);
    &:visited {
        color: var(--link-visited-color);
    }
    &:hover {
        color: var(--link-hover-color) !important;
    }
}

.divider {
    width: 100%;
    border-bottom: 1px solid var(--muted-color);
}
