:root {
    --text-color: #ffffff;
    --background-color: #4d126e;
    --link-color: #ffffff;
    --link-visited-color: #cccccc;
    --link-hover-color: #ffffff;
    --header-color: #212121;
    --error-color: darkred;
    --error-info-color: #ff6b6b;
    --nav-hover-color: #9932cc;
    --nav-active-color: #9932cc;
    --secondary-bg-color: #3e095a;
    --accent-color: #ffffff;
}
