:root {
    --background-color: #383838;
    --secondary-bg-color: #212121;

    --text-color: #ebebeb;
    --accent-color: white;
    --muted-color: #5a5a5a;

    --link-color: #a4a4a4;
    --link-visited-color: #cccccc;
    --link-hover-color: white;

    --header-color: var(--secondary-bg-color);
    --nav-hover-color: white;
    --nav-active-color: white;

    --error-color: darkred;
    --error-info-color: #ff6b6b;
}
