:root {
    --text-color: #e0e0e0;
    --background-color: #121212;
    --link-color: #90caf9;
    --link-visited-color: #ce93d8;
    --link-hover-color: #4fc3f7;
    --header-color: #e0e0e0;
    --error-color: darkred;
    --error-info-color: #757575;
}
