@use "styles/variables";

.card {
    display: flex;
    width: 100%;
    min-height: 300px;
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }
    transition: box-shadow 0.3s ease;
}

.imageContainer {
    width: 40%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.image {
    object-fit: cover;
    width: 100%;
}

.content {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageRight {
    flex-direction: row-reverse;
    .content {
        border-right: 0.4rem solid var(--background-color);
    }
}

.imageLeft {
    flex-direction: row;
    .content {
        border-left: 0.4rem solid var(--background-color);
    }
}

.technologiesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
    a {
        display: inline-block;
        transition: background-color 0.2s ease-in-out;
    }
}

.techLogo {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}
