@use "styles/variables";

.header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    gap: 1.5rem;
    background-color: var(--header-color);
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    a h1 {
        text-decoration: none;
    }
}

.gitHubLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    text-decoration: none;
    &:hover path {
        fill: var(--color-link-hover) !important;
    }

    &:visited path {
        fill: var(--color-text);
    }
}

.logo {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.navLink {
    text-decoration: none;
    position: relative;
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    transition: color 0.2s ease;

    &:hover {
        color: var(--nav-hover-color);
    }

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
    }
}

.activeLink {
    color: var(--nav-active-color);
    &:visited {
        color: var(--nav-active-color);
    }
    &::after {
        width: 100%;
    }
}
