.footer {
    margin-top: auto;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.githubLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-color);
    text-decoration: none;

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover {
        color: var(--link-hover-color);
    }

    &:visited {
        color: var(--text-color);
    }
}
